$defaultBackgroundColor: #252926;
$elementBackgroundColor: #8cd279;
$elementBackgroundColorSecondary: #ceffc1;
$elementBackgroundColorDanger: #ff9090;
$elementBackgroundColorInfo: rgb(100, 100, 100);
$elementBackgroundColorLight: #f0f0f0;

$defaultForegroundColor: #9a5bff;

$defaultBoxShadowColor: #b6b2b2;

$fontSizeSmall: 16px;
$fontSize: 20px;
$fontSizeLarge: 24px;
$fontSizeXLarge: 32px;
$fontSizeXXLarge: 48px;

$fontColor: #4b485a;
$fontColorLight: #f0f0f0;
$fontColorSecondary: #656469;
$fontColorLightSecondary: #a8a8a8;

$fontWeightLight: 300;
$fontWeightNormal: normal;
$fontWeightBold: 800;
