{{page-title 'Game'}}

<div class='game-container'>
  <div class='game'>
    <div class='game-board'>
      <GameBoard />
    </div>
    <div class='game-scores'>
      <GameScores />
    </div>
  </div>
</div>